@* @{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p> *@


<html>
<head>
    <title>Товар куплен</title>
    <meta http-equiv="refresh" content="5; url=/Home"/> <!-- Перенаправление через 5 секунд на страницу /Products -->
</head>
<body>
    <h1>Товар куплен</h1>
    <p>Вы будете перенаправлены обратно через несколько секунд...</p>
</body>
</html>